<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gráfico de Temperatura</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="navbar">
        <img src="/img/logo.jpg" width="50" height="50">
        <a href="/index.html">Home</a>
        <a href="/galeria.html">Galeria</a>
        <a href="/python/templates/grafico.html">Gráfico</a>
      </div>
    <h1>Gráfico de Temperatura</h1>
    <img src="{{ url_for('static', filename='grafico.png') }}" alt="Gráfico de Temperatura">
</body>
</html>